<div class="navbar yamm navbar-default">
    <div class="container-fluid header">
        <img src="content/dam/Sainsbury/beta/svg/logo.svg" width="250" height="85" class="pull-left"/>
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <button type="button" data-toggle="collapse" data-target="#navbar-collapse-2" class="navbar-toggle"><span class="glyphicon glyphicon-user"></span></button>
        </div>
        <div class="navbar-collapse collapse pull-left navbar-collapse-1 clear">
            <ul class="nav navbar-nav">
                <!-- Classic list -->
                <li><a href="#">Home</a></li>
                <li class="dropdown yamm-fw">
                    <ul class="dropdown-menu">
                        <li>
                            <!-- Content container to add padding -->
                            <div class="yamm-content">
                                <div class="row">
                                    <ul class="col-sm-3 list-unstyled">
                                        <li>
                                            <p>
                                                <strong>
                                                    <a class="" role="menuitem" title="Energy" href="/products-and-services/energy.html">Energy</a>
                                                </strong>
                                            </p>
                                        </li>
                                        <li>
                                            <a class="" role="menuitem" title="Our energy tariffs" href="/products-and-services/energy/our-energy-tariffs.html">Our energy tariffs</a>
                                        </li>
                                        <li>
                                            <a class="" role="menuitem" title="A guide to switching" href="/products-and-services/energy/switch.html">
                                                A guide to switching</a>
                                        </li>
                                        <li>
                                            <a class="" role="menuitem" title="Get a quote" href="/GetAPrice/">
                                                Get a quote</a>
                                        </li>
                                        <li>
                                    </ul>
                                    <ul class="col-sm-3 list-unstyled">
                                        <li>
                                            <p>
                                                <strong>
                                                    <a class="" role="menuitem" title="Nectar" href="/products-and-services/nectar.html">Nectar</a>
                                                </strong>
                                            </p>
                                        </li>
                                        <li>
                                            <a class="" role="menuitem" title="Spend points" href="/products-and-services/nectar/spend-points.html">
                                                Spend points</a>
                                        </li>
                                        <li>
                                            <a class="" role="menuitem" title="Collect points" href="/products-and-services/nectar/collect-points.html">
                                                Collect points</a>
                                        </li>
                                        <li>
                                            <a class="" role="menuitem" title="Terms and conditions" href="/products-and-services/nectar/terms-and-conditions.html">
                                                Terms and conditions</a>
                                        </li>
                                    </ul>
                                    <ul class="col-sm-3 list-unstyled">
                                        <li>
                                            <p>
                                                <strong><a class="" role="menuitem" title="Boilers" href="/products-and-services/boilers.html">Boilers</a></strong>
                                            </p>
                                        </li>
                                        <li>
                                            <a class="" role="menuitem" title="Boilers explained" href="/products-and-services/boilers/boilers-explained.html">
                                                Boilers explained</a>
                                        </li>
                                        <li>
                                            <a class="" role="menuitem" title="Boiler installation" href="/products-and-services/boilers/boiler-installation.html">
                                                Boiler installation</a>
                                        </li>
                                        <li>
                                            <a class="" role="menuitem" title="New boiler fixed price quote" href="/products-and-services/boilers/new-boiler-fixed-price-quote.html">
                                                New boiler fixed price quote</a>
                                        </li>
                                        <li>
                                            <a class="" role="menuitem" title="Terms and conditions" href="/products-and-services/boilers/terms-and-conditions.html">
                                                Terms and conditions</a>
                                        </li>
                                    </ul>
                                    <ul class="col-sm-3 list-unstyled">
                                        <li>
                                            <p>
                                                <strong>
                                                    <a class="" role="menuitem" title="Exclusive Offers" href="/products-and-services/exclusive-offers.html">Exclusive Offers</a>
                                                </strong>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Product &amp; services<b class="caret"></b></a>
                </li>
                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Save &amp; create<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <!-- Content container to add padding -->
                            <div class="yamm-content">
                                <div class="row">
                                    <ul class="col-sm-3 list-unstyled">
                                        <li>
                                            <p>
                                                <strong>
                                                    <a class="" role="menuitem" title="Home insulation" href="/save-and-create/home-insulation.html">Home insulation</a>
                                                </strong>
                                            </p>
                                        </li>
                                        <li>
                                            <a class="" role="menuitem" title="Loft insulation" href="/save-and-create/home-insulation/loft-insulation.html">
                                                Loft insulation
                                            </a>
                                        </li>
                                        <li>
                                            <a class="" role="menuitem" title="Cavity wall insulation"
                                                href="/save-and-create/home-insulation/cavity-insulation.html">
                                                Cavity wall insulation
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="col-sm-3 list-unstyled">
                                        <li>
                                            <p>
                                                <strong>
                                                    <a class="" role="menuitem" title="Solar electricity"
                                                        href="/save-and-create/solar-electricity.html">Solar electricity</a>
                                                </strong>
                                            </p>
                                        </li>
                                        <li>
                                            <a class="" role="menuitem" title="Solar PV systems"
                                                href="/save-and-create/solar-electricity/solar-pv-systems.html">
                                                Solar PV systems
                                            </a>
                                        </li>
                                        <li>
                                            <a class="" role="menuitem" title="Feed-in Tariff"
                                                href="/save-and-create/solar-electricity/feed-in-tariff.html">
                                                Feed-in Tariff
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="col-sm-3 list-unstyled">
                                        <li>
                                            <p>
                                                <strong>
                                                    <a class="" role="menuitem" title="Warm Home Discount Scheme"
                                                        href="/save-and-create/the-warm-home-discount.html">
                                                        Warm Home Discount Scheme
                                                    </a>
                                                </strong>
                                            </p>
                                        </li>
                                        <li>
                                            <a class="" role="menuitem" title="Priority Services Register"
                                                href="/save-and-create/the-warm-home-discount/priority-services-register.html">
                                                Priority Services Register</a>
                                        </li>
                                    </ul>
                                    <ul class="col-sm-3 list-unstyled">
                                        <li>
                                            <p>
                                                <strong>
                                                    <a class="" role="menuitem" title="Energy saving tips" href="/save-and-create/energy-saving-tips.html">Energy saving tips</a>
                                                </strong>
                                            </p>
                                        </li>
                                    </ul>
                                    <ul class="col-sm-3 list-unstyled">
                                        <li>
                                            <p>
                                                <strong>
                                                    <a class="" role="menuitem" title="Getting extra help" href="/save-and-create/getting-extra-help.html">Getting extra help
                                                    </a>
                                                </strong>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Help &amp; advice<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <!-- Content container to add padding -->
                            <div class="yamm-content">
                                <div class="row">
                                    <ul class="col-sm-3 list-unstyled">
                                        <li>
                                            <p>
                                                <strong>                                                                                                                        <a role="menuitem" title="Bills &amp; payments" href="/HelpAndAdvice/LookUp/?SXI=15,CASE=283,USETEMPLATE=sublanding_1.tem">Bills &amp; payments</a></strong>
                                            </p>
                                        </li>
                                        <li>
                                            <a role="menuitem" title="Payments &amp; Direct Debits" href="/HelpAndAdvice/LookUp/?SXI=4,CASE=270,USETEMPLATE=sublanding_2.tem">
                                                Payments &amp; Direct Debits</a>
                                        </li>
                                        <li>
                                            <a role="menuitem" title="Understanding your bill" href="/HelpAndAdvice/LookUp/?SXI=15,CASE=3939,USETEMPLATE=sublanding_2.tem">
                                                Understanding your bill</a>
                                        </li>
                                        <li>
                                            <a role="menuitem" title="Annual statement" href="/HelpAndAdvice/LookUp/?SXI=15,CASE=4306,USETEMPLATE=sublanding_2.tem">
                                                Annual statement</a>
                                        </li>
                                    </ul>
                                    <ul class="col-sm-3 list-unstyled">
                                        <li>
                                            <p>
                                                <strong>                                                                                                                        <a role="menuitem" title="Energy tariffs" href="/HelpAndAdvice/LookUp/?SXI=15,CASE=1570,USETEMPLATE=sublanding_1.tem">Energy tariffs</a></strong>
                                            </p>
                                        </li>
                                        <li>
                                            <a role="menuitem" title="Managing your energy tariff" href="/HelpAndAdvice/LookUp/?SXI=15,CASE=4304,USETEMPLATE=sublanding_2.tem">
                                                Managing your energy tariff</a>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>                                                                                                                        <a role="menuitem" title="Meters &amp; meter readings" href="/HelpAndAdvice/LookUp/?SXI=15,CASE=4312,USETEMPLATE=sublanding_2.tem">Meters &amp; meter readings</a></strong>
                                            </p>
                                        </li>
                                        <li>
                                            <a role="menuitem" title="Meter readings" href="/HelpAndAdvice/LookUp/?SXI=11,CASE=4313,USETEMPLATE=sublanding_2.tem">
                                                Meter readings</a>
                                        </li>
                                    </ul>
                                    <ul class="col-sm-3 list-unstyled">
                                        <li>
                                            <p>
                                                <strong>
                                                    <a role="menuitem" title="Nectar" href="/HelpAndAdvice/LookUp/?SXI=15,CASE=1763,USETEMPLATE=sublanding_1.tem">Nectar</a>
                                                </strong>
                                            </p>
                                        </li>
                                        <li>
                                            <a role="menuitem" title="Nectar general information" href="/HelpAndAdvice/LookUp/?SXI=15,CASE=3082,USETEMPLATE=sublanding_2.tem">
                                                Nectar general information</a>
                                        </li>
                                        <li>
                                            <a role="menuitem" title="Joining the Nectar programme" href="/HelpAndAdvice/LookUp/?SXI=15,CASE=4412,USETEMPLATE=sublanding_2.tem">
                                                Joining the Nectar programme</a>
                                        </li>
                                        <li>
                                            <a role="menuitem" title="Collecting Nectar points" href="/HelpAndAdvice/LookUp/?SXI=15,CASE=2984,USETEMPLATE=sublanding_2.tem">
                                                Collecting Nectar points</a>
                                        </li>
                                        <li>
                                            <a role="menuitem" title="Spending Nectar points" href="/HelpAndAdvice/LookUp/?SXI=15,CASE=4364,USETEMPLATE=sublanding_2.tem">
                                                Spending Nectar points</a>
                                        </li>
                                    </ul>
                                    <ul class="col-sm-3 list-unstyled">
                                        <li>
                                            <p>
                                                <strong><a role="menuitem" title="Boilers" href="/HelpAndAdvice/LookUp/?SXI=19,CASE=2228,USETEMPLATE=sublanding_1.tem">Boilers</a></strong>
                                            </p>
                                        </li>
                                        <li>
                                            <a role="menuitem" title="Your new boiler installation" href="/HelpAndAdvice/LookUp/?SXI=15,CASE=2114,USETEMPLATE=sublanding_2.tem">
                                                Your new boiler installation</a>
                                        </li>
                                        <li>
                                            <a role="menuitem" title="Your boiler survey explained" href="/HelpAndAdvice/LookUp/?SXI=15,CASE=4363,USETEMPLATE=sublanding_2.tem">
                                                Your boiler survey explained</a>
                                        </li>
                                        <li>
                                            <a role="menuitem" title="After your installation" href="/HelpAndAdvice/LookUp/?SXI=15,CASE=2905,USETEMPLATE=sublanding_2.tem">
                                                After your installation</a>
                                        </li>
                                    </ul>
                                    <ul class="col-sm-3 list-unstyled">
                                        <li>
                                            <p>
                                                <strong>                                                                                                                        <a role="menuitem" title="Contact us" href="/youraccount/contactus-personal-details.html">Contact us</a></strong>
                                            </p>
                                        </li>
                                        <li>
                                            <a role="menuitem" title="Ways to contact us" href="/youraccount/contactus-personal-details.html">
                                                Ways to contact us</a>
                                        </li>
                                        <li>
                                            <a role="menuitem" title="Emergency numbers" href="/emergencies.html">
                                                Emergency numbers</a>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>                                                                                                                        <a role="menuitem" title="Complaints" href="/complaints">Complaints</a></strong>
                                            </p>
                                        </li>
                                        <li>
                                            <a role="menuitem" title="Make a complaint" href="/complaints">
                                                Make a complaint</a>
                                        </li>
                                        <li>
                                            <a role="menuitem" title="Complaints performance"
                                                href="http://www.britishgas.co.uk/help-and-advice/contactus-personal-details/complaints-performance.html">
                                                Complaints performance
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right navbar-collapse collapse secondary navbar-collapse-1">
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Emergencies</a></li>
            <form class="navbar-form navbar-left search-form" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Go</button>
            </form>
        </ul>
        <div id="navbar-collapse-2" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My account<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <!-- Content container to add padding -->
                            <div class="yamm-content">
                                <div class="row">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a class="" href="/Your_Account/Account_Details/" title="Your account" role="menuitem">Your account</a>
                                        </li>
                                        <li>
                                            <a class="" href="/Registration/Account-Details-Entry/Link/ID/Register/" title="Set up your account" role="menuitem">Set up your account</a>
                                        </li>
                                        <li>
                                            <a class="" role="menuitem" title="Submit a meter reading" href="/youraccount/discover/submitmeterreading-landing.html">Submit a meter reading</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
